# Atit Bhattarai

# Data Analysis with Pandas

## Import and use Pandas

In [4]:
import pandas as pd

# create new series
numbers_series = pd.Series([1,2,3,4])
#print(number_series)

#create new Data Frame
user_data = pd.DataFrame({
    "Name": ["Sairash", "Hritika"],
    "Age": [22,20],
    "Address": ["Kathmandu","Bhaktapur"],
})
user_data = pd.DataFrame(user_data)
user_data

      Name  Age    Address
0  Sairash   22  Kathmandu
1  Hritika   20  Bhaktapur